{% extends 'nav.html' %}

{% block content %}
<h1>Generar Factura</h1>

<div class="row">
    <!-- Parte Izquierda: Formulario para Cliente -->
    <div class="col-md-6">  <!-- Columna para el formulario de cliente -->
        <h2>Registrar Cliente</h2>
        <form method="POST">  <!-- Usar método POST para enviar datos -->
            {% csrf_token %}  <!-- Token CSRF para seguridad -->

            <!-- Campo para DNI -->
            <div class="form-group">
                <label para="dni">DNI</label>
                <input type="text" class="form-control" id="dni" name="dni" placeholder="Ingrese el DNI" 
       value="{{ form.dni.value }}" onblur="autocompletarCliente()">

            </div>

            <!-- Campo para Nombre -->
            <div class="form-group">
                <label para="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingrese el nombre">  <!-- Deshabilitar edición -->
            </div>

            <!-- Campo para Dirección -->
            <div class="form-group">
                <label para="direccion">Dirección</label>
                <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Ingrese la dirección">
            </div>

            <!-- Campo para Teléfono -->
            <div class="form-group">
                <label para="telefono">Teléfono</label>
                <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Ingrese el teléfono">
            </div>

            <!-- Campo para Correo Electrónico -->
            <div class="form-group">
                <label para="correo">Correo Electrónico</label>
                <input type="email" class="form-control" name="correo" id="correo" placeholder="Ingrese el correo electrónico">
            </div>
        </form>
    </div>
    
    <!-- Parte Derecha: Información de la Empresa -->
    <div class="col-md-6">  <!-- Columna para información de la empresa -->
        <h2>Datos de la Empresa</h2>
        <p><strong>Nombre:</strong> {{ empresa.nombre }}</p>
        <p><strong>RUC:</strong> {{ empresa.ruc }}</p>
        <p><strong>Dirección:</strong> {{ empresa.direccion }}</p>
        <p><strong>Teléfono:</strong> {{ empresa.telefono }}</p>
        <!-- Imagen representativa -->
        <img src="E:\Proyectos\Python\SistemaFacturación\Modulo_Facturacion\empresas\carbon3.png {{ empresa.imagen.url }}" alt="Imagen de la empresa" class="img-fluid">
    </div>
</div>


<!-- Tabla para Ingresar Productos -->
<div class="mt-4">
    <h2>Productos</h2>
    <table id="productosTable" class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre del Producto</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Subtotal</th>  <!-- Cantidad * Precio Unitario -->
            </tr>
        </thead>
        <tbody>
            <!-- Primera fila para ingresar producto -->
            <tr>
                <td><input type="text" class="form-control codigo_producto" name="codigo_producto" placeholder="Ingrese el código del producto" onblur="autocompletarProducto(this)"></td>
                <td><input type="text" class="form-control nombre_producto" name="nombre_producto" readonly></td>
                <td><input type="text" class="form-control precio_unitario" name="precio_unitario" id="precio_unitario" readonly></td>
                <td><input type="number" class="form-control cantidad_producto" name="cantidad_producto" id="cantidad_producto" value="1" min="1" onchange="actualizarSubtotal2()"></td>
                <td><input type="text" class="form-control subtotal_producto" id="subtotal" name="subtotal_producto" readonly></td>
            </tr>
        </tbody>
    </table>

    <!-- Botón para agregar más productos -->
    <button type="button" class="btn btn-secondary" onclick="agregarProducto()">Agregar Producto</button>
</div>

<!-- Totalización -->
<div class="mt-4">
    <h2>Totales</h2>
    <p><strong>Subtotal:</strong> <span id="subtotal"></span></p>
    <p><strong>Impuesto IGV (18%):</strong> <span id="impuesto_igv"></span></p>
    <p><strong>Total a Pagar:</strong> <span id="total_pagar"></span></p>

    <!-- Botón para generar la factura -->
    <button type="button" class="btn btn-primary" onclick="generarFactura()">Generar Factura</button>
</div>
<script>
    var clientes = [
        {% for cliente in clientes %}
            { dni: '{{ cliente.dni }}', nombre: '{{ cliente.nombre }}', direccion: '{{ cliente.direccion }}', telefono: '{{ cliente.telefono }}', correo: '{{ cliente.correo }}' },
        {% endfor %}
    ];
</script>

<script>
    var productos = [
        {% for producto in productos %}
            { codigo: '{{ producto.codigo }}', nombre: '{{ producto.nombre }}', precio: '{{ producto.precio }}', stock: '{{ producto.stock }}' },
        {% endfor %}
    ];

    // Función para autocompletar la información del producto
    function autocompletarProducto(codigo) {
        var codigoProducto = codigo.value.trim();
        var row = $(codigo).closest('tr');

        // Buscar el producto por su código en la lista de productos
        var productoEncontrado = productos.find(producto => producto.codigo === codigoProducto);
        if (productoEncontrado) {
            // Autocompletar los campos de nombre y precio
            row.find('.nombre_producto').val(productoEncontrado.nombre);
            row.find('.precio_unitario').val(productoEncontrado.precio);

            // Calcular el subtotal del producto
            calcularSubtotal(row);

            // Actualizar subtotal después de autocompletar el producto
            actualizarSubtotal();
        } else {
            // Limpiar los campos si no se encuentra el producto
            row.find('.nombre_producto').val('');
            row.find('.precio_unitario').val('');

            // Limpiar el subtotal
            row.find('.subtotal_producto').val('');
        }
    }

    // Función para calcular el subtotal del producto
    function calcularSubtotal(row) {
        var cantidad = parseInt(row.find('.cantidad_producto').val());
        var precioUnitario = parseFloat(row.find('.precio_unitario').val());
        var subtotal = cantidad * precioUnitario;
        row.find('.subtotal_producto').val(subtotal.toFixed(2));
    }

    // Función para actualizar el subtotal total
    function actualizarSubtotal() {
        var subtotalTotal = 0;
        $('.subtotal_producto').each(function() {
            subtotalTotal += parseFloat($(this).val());
        });
        $('#subtotal').text(subtotalTotal.toFixed(2));
    }

    function actualizarSubtotal2() {
        console.log('Cambio en cantidad');
        document.getElementById('subtotal').value = document.getElementById('cantidad_producto').value * document.getElementById('precio_unitario').value;
    }

    // // Evento para actualizar el subtotal cuando cambia la cantidad
    // $(document).on('input', '.cantidad_producto', function() {
        
    //     var row = $(this).closest('tr');
    //     calcularSubtotal(row);
    //     actualizarSubtotal();
    // });

    // Función para agregar más productos a la tabla
    function agregarProducto() {
        var newRow = '<tr>' +
            '<td><input type="text" class="form-control codigo_producto" name="codigo_producto" placeholder="Ingrese el código del producto" onblur="autocompletarProducto(this)"></td>' +
            '<td><input type="text" class="form-control nombre_producto" name="nombre_producto" readonly></td>' +
            '<td><input type="text" class="form-control precio_unitario" name="precio_unitario" readonly></td>' +
            '<td><input type="number" class="form-control cantidad_producto" name="cantidad_producto" value="1" min="1"></td>' +
            '<td><input type="text" class="form-control subtotal_producto" name="subtotal_producto" readonly></td>' +
            '</tr>';
        $('#productosTable tbody').append(newRow);
    }

    // Función para autocompletar la información del cliente
    function autocompletarCliente() {
    var dniInput = document.getElementById('dni').value.trim();

    // Buscar el cliente por su DNI en la lista de clientes
    var clienteEncontrado = clientes.find(cliente => cliente.dni === dniInput);

    if (clienteEncontrado) {
        // Autocompletar los campos del formulario con la información del cliente encontrado
        document.getElementById('nombre').value = clienteEncontrado.nombre;
        document.getElementById('direccion').value = clienteEncontrado.direccion;
        document.getElementById('telefono').value = clienteEncontrado.telefono;
        document.getElementById('correo').value = clienteEncontrado.correo;
    } else {
        // Limpiar los campos si no se encuentra el cliente en la lista de clientes
        document.getElementById('nombre').value = '';
        document.getElementById('direccion').value = '';
        document.getElementById('telefono').value = '';
        document.getElementById('correo').value = '';
    }
    }
    
    // Función para generar la factura
    function generarFactura() {
        // Aquí debes implementar la lógica para generar la factura
        // Puedes recopilar los datos del formulario y enviarlos al servidor mediante una solicitud AJAX.
    }
</script>

{% endblock %}